#!/usr/bin/env ruby
$:.unshift(File.join("..", "lib"))

require "micromidi"

@input = UniMIDI::Input.gets

MAP = {
  "C0" => "2",
  "D0" => "spider"
}

MIDI.using(@input) do

  receive(:note, :channel => 14) do |message|
    unless (project = MAP[message.name]).nil?
      puts project
      `osascript script/ableton/open_project.scpt #{project}`
    end
  end

  join

end
